*{
    box-sizing: border-box;
    margin: 0;
    
}

.container{
    
    width: 70%;
    
    border: 2px solid black;
    text-align: center;
    align-items: center;
    /* margin: auto; */
    margin-top: 30px;
   margin-left: 16%;
    
}

.flex-box{
    border: 1px solid red;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.item{
    width: 180px;
    height: 180px;
}

.item:hover{
    box-shadow: 5px 5px 10px 10px rgba(224, 138, 8, 0.452);
}